@charset "UTF-8";
@font-face { font-family:"Arial Black";font-variant:normal;font-weight:900;src:url("#FontID0") format(svg)}
.fil0 {fill:#201E1E}
.fnt0 {font-weight:900;font-size:15.03px;font-family:'Arial Black'}
